# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

ui/.idea
ui/.ionic
ui/.sass-cache
ui/.sourcemaps
ui/.versions
ui/.vscode
ui/coverage
ui/dist
ui/platforms
ui/plugins
ui/www
ui/node_modules
e2e/src/app.po.ts
e2e/src/app.e2e-spec.ts
ui/config.xml
ui/e2e/*
ui/ionic.config.json
ui/package-lock.json
ui/package.json
ui/resources/*
ui/src/assets/*
ui/src/theme/*
ui/src/polyfills.ts
ui/src/global.scss
ui/src/zone-flags.ts
ui/tsconfig.app.json
ui/tsconfig.json
ui/tsconfig.spec.json
ui/tslint.json
