<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Plan your trip</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Plan your trip</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="controls else loading" >
    <dynamic-form 
      #dynamicForm="dynamicForm" 
      [controls]="controls" 
      [form]="form">
    </dynamic-form>
  </div>

	<ng-template #loading>
		<div class="loading">
			Getting Data...
		</div>
	</ng-template>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons end>
      <ion-button ion-button icon-right 
        size="large"
        expand="block" 
        fill="outline" (click)="submitForm($event)">
          Submit
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
